@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;900&family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.6rem;
  background-color: #222;
  line-height: 1.5;
  letter-spacing: -0.5px;
}

hr {
  border-width: 0.5px;
  margin: 0;
  border-color: #888;
}

/* common class */
#wrap .m-con {
  display: none;
}

.blind {
  position: absolute;
  left: -9999px;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

.fadeOut {
  animation: fadeOut 0.5s ease-in 0.3s forwards;
}

.fadeIn {
  animation: fadeIn 0.5s ease-in 0.3s forwards;
}

.animated-section {
  animation: fadeOut 0.7s ease-in 0.5s forwards;
}

.animated-section.in-view {
  animation: fadeIn 0.7s ease-in 0.5s forwards;
}

/* content */
#wrap {
  max-width: 1920px;
  margin: 0 auto;
}
#wrap.no-scroll {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

header {
  background-color: #222;
}
header .header_wrap {
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
  font-family: "Montserrat";
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_wrap h1 {
  font-size: 2.25rem;
  font-weight: 400;
}
header .header_wrap h1 a {
  color: #fff;
}
header .header_wrap h1:hover a {
  color: #00ddb3;
  text-shadow: 0px 1px 2px #00ddb3;
}
header nav {
  width: 45%;
}
header nav i {
  color: #fff;
}
header nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul li {
  font-weight: 100;
}
header nav ul li a {
  color: #fff;
}
header nav ul li:hover a {
  color: #00ddb3;
  text-shadow: 0px 1px 2px #00ddb3;
}
header nav .mo_div {
  position: relative;
  font-size: 2.25rem;
}
header nav .mo_div ul {
  display: none;
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  height: 20rem;
  flex-direction: column;
  align-items: end;
  top: 6rem;
  right: 10%;
  z-index: 1000;
}
footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 11rem;
  line-height: 11rem;
}
footer div {
  color: #fff;
  font-family: "Montserrat";
  font-weight: 100;
  text-align: center;
}

@media (min-width: 768px) {
  html {
    font-size: 59%;
  }
  nav .pc_ul {
    display: flex;
  }
  nav .mo_div {
    display: none;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 50.5%;
  }
  header nav {
    width: auto;
  }
  header nav .pc_ul {
    display: none;
  }
  header nav .mo_div {
    display: block;
  }
  #contact .contact_wrap .more a:nth-child(1) {
    font-size: 4.5rem !important;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 53.5%;
  }
  #contact .contact_wrap .more a:nth-child(1) {
    font-size: 3.2rem !important;
  }
  .nav .nav-list {
    flex-direction: column;
    align-items: center;
  }
  .nav .sns {
    margin-top: 30px;
  }
}/*# sourceMappingURL=common.css.map */