@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
#wrap {
  max-width: 1920px;
  margin: 0 auto;
}
#wrap.no-scroll {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.title {
  font-family: "Montserrat";
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 5.5rem;
  padding: 3rem 0 10rem;
}
@media (max-width: 480px) {
  .title {
    font-size: 3rem;
  }
}

.slideSide {
  animation: slideSide 0.7s ease-in 0.2s forwards;
}

.slide-in {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, rgba(34, 34, 34, 0.2078431373), rgba(54, 71, 91, 0.2509803922), rgba(24, 119, 146, 0.2509803922), rgba(0, 170, 179, 0.2509803922), rgba(0, 221, 179, 0.2705882353));
  transform-origin: top;
  animation: scaleY 1s 0s cubic-bezier(0.65, 0.02, 0.23, 1);
}

@keyframes scaleY {
  0% {
    transform: scaleY(1) translateZ(0);
  }
  100% {
    transform: scaleY(0) translateZ(0);
  }
}
#main {
  position: relative;
}
#main .main_greeting {
  position: absolute;
  top: 30%;
  left: 10%;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 8rem;
  color: #fff;
  text-transform: uppercase;
}
#main .main_greeting span {
  display: inline-block;
  transition: transform 0.6s cubic-bezier(0.65, 0.02, 0.23, 1);
  transform: translate(20%, 100%);
  position: relative;
  z-index: 1;
  letter-spacing: -0.03em;
}
#main .main_greeting span:before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-40%);
  transition: transform 0.5s ease-in cubic-bezier(0.65, 0.02, 0.23, 1);
}
#main .main_greeting span.row {
  overflow: hidden;
  line-height: 1;
  display: block;
  transform: none;
}
#main .main_greeting span.row:before {
  display: none;
}
#main .main_greeting .animate {
  transform: translate(0, 0);
}
#main .main_greeting .animate:before {
  transform: translateY(100%);
}
#main .main_greeting span {
  letter-spacing: 0.2rem;
}
#main .main_greeting .shineShadow {
  animation: shineShadow 1s linear 0s forwards;
}
#main .scrollDown {
  position: absolute;
  left: 50%;
  bottom: 10vh;
  transform: translateX(-50%);
}

@keyframes shineShadow {
  0% {
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.7));
  }
  80% {
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.7)) drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
  }
}
#about {
  position: relative;
  opacity: 0;
}
#about .about_wrap {
  width: 70%;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#about .about_wrap span {
  color: #00ddb3;
}
#about .about_wrap article {
  font-size: 2rem;
  color: #ccc;
  z-index: 1;
  margin-top: 6rem;
  opacity: 0;
  animation: fadeIn 0.5s ease-in 0.5s forwards;
}
#about .about_wrap article p {
  margin-bottom: 2rem;
}
#about .slide_view {
  position: absolute;
  z-index: 0;
  bottom: 2rem;
  width: 100%;
  height: 30rem;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  box-shadow: inset 0px 2px 15px #111;
}
#about .slide_view .slide_img_wrap {
  display: flex;
  flex-wrap: nowrap;
  height: 400px;
  animation: slideImg 25s linear 0s infinite;
}
#about .slide_view .slide_img_wrap img {
  height: 100%;
  opacity: 0.1;
  filter: grayscale(95%);
}

#information {
  opacity: 0;
  height: -moz-fit-content;
  height: fit-content;
}
#information .info_wrap {
  max-width: 1520px;
  width: 85%;
  padding: 0 10px;
  margin: 0 auto;
}
#information .info_wrap .sub_title {
  border: 1px solid rgba(10, 205, 206, 0.25);
  border-radius: 10rem;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  font-size: 2.8rem;
  font-weight: 500;
  color: #00ddb3;
}
#information .info_wrap .edu {
  text-align: right;
  margin-bottom: 10rem;
}
#information .info_wrap .edu ul {
  font-family: "Montserrat";
  font-size: 2.8rem;
  margin-top: 5rem;
}
#information .info_wrap .edu ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 5rem;
  background: linear-gradient(to right, #fff 50%, #666 50%);
  background-size: 200% 100%;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  background-position-x: 100%;
  transition: background-position-x 0.5s ease;
}
#information .info_wrap .edu ul li strong {
  margin-left: 2rem;
}
#information .info_wrap .edu ul li span {
  font-size: 2rem;
  font-weight: 100;
}
#information .info_wrap .skill ul {
  display: flex;
  margin-top: 3.2rem;
  flex-wrap: wrap;
  gap: 0.8rem;
}
#information .info_wrap .skill ul li {
  opacity: 0;
  visibility: none;
  transition: opacity 0.5s ease;
  border: 1px solid rgba(10, 205, 206, 0.25);
  border-radius: 10rem;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: #00ddb3;
}
#information .info_wrap .skill .transform-up {
  visibility: visible;
  opacity: 1;
  animation: transform-up 0.5s linear 0.5s forwards;
}

#project {
  opacity: 0;
  width: 100%;
  height: 100%;
}
#project .project_list {
  max-width: 1520px;
  width: 80%;
  padding: 0 10px;
  margin: 0 auto;
}
#project .project_list a {
  position: relative;
  color: #fff;
  font-size: 4rem;
  font-family: "Montserrat";
  font-weight: 400;
  height: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#project .project_list a div {
  transition: 0.3s ease-in;
}
#project .project_list a:hover li {
  opacity: 0;
  transition: 0.3s ease-in;
}
#project .project_list a:hover li:nth-child(4) {
  opacity: 1;
}
#project .project_list a:hover div {
  text-indent: 1.5rem;
  transition: 0.3s ease-in;
}
#project .project_list a ul {
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 3rem;
  text-align: right;
}
#project .project_list a ul li {
  transition: 0.3s ease-in;
}
#project .project_list a ul li:nth-child(4) {
  opacity: 0;
  height: 90%;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
#project .project_list a ul li:nth-child(4) img {
  height: 100%;
}

#contact {
  opacity: 0;
  padding: 6rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#contact .contact_wrap {
  max-width: 1520px;
  width: 80%;
  padding: 0 10px;
  margin: 0 auto;
}
#contact .contact_wrap .title {
  padding: 0 0 6rem;
}
#contact .contact_wrap article {
  font-size: 2.5rem;
  transition: transform 1s ease-in;
  transform: translateY(40px) translateZ(0px);
}
#contact .contact_wrap article p {
  line-height: 4rem;
}
#contact .contact_wrap article p:last-child {
  font-weight: 100;
  padding: 1.5rem 0;
  font-size: 2rem;
}
#contact .contact_wrap .transform-none {
  transform: none;
}
#contact .contact_wrap .more {
  font-family: "Montserrat";
}
#contact .contact_wrap .more a:nth-child(1) {
  font-weight: 500;
  font-size: 5rem;
  color: #00ddb3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  transition: 0.5s ease;
  padding-bottom: 2rem;
}
#contact .contact_wrap .more a:nth-child(1) span {
  display: inline-block;
  transition: transform 0.6s cubic-bezier(0.65, 0.02, 0.23, 1);
  transform: translate(20%, 100%);
  position: relative;
  z-index: 1;
  letter-spacing: -0.03em;
}
#contact .contact_wrap .more a:nth-child(1) span:before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-40%);
  transition: transform 0.5s ease-in cubic-bezier(0.65, 0.02, 0.23, 1);
}
#contact .contact_wrap .more a:nth-child(1) span.row {
  overflow: hidden;
  line-height: 1;
  display: block;
  transform: none;
}
#contact .contact_wrap .more a:nth-child(1) span.row:before {
  display: none;
}
#contact .contact_wrap .more a:nth-child(1) .animate {
  transform: translate(0, 0);
}
#contact .contact_wrap .more a:nth-child(1) .animate:before {
  transform: translateY(100%);
}
#contact .contact_wrap .more a:nth-child(1) span.row {
  line-height: 2;
}
#contact .contact_wrap .more a:nth-child(1):hover {
  padding-left: 3rem;
}
#contact .contact_wrap .more a:nth-child(1):before {
  content: "\f1d8";
  display: inline;
  font-size: 2.5rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-right: 1rem;
}
#contact .contact_wrap .more a:nth-child(2) {
  border: 1px solid rgba(10, 205, 206, 0.25);
  border-radius: 10rem;
  background-color: rgba(10, 205, 206, 0.25);
  display: inline-block;
  padding: 0.5rem 1.8rem;
  font-size: 3rem;
  font-weight: 300;
  color: #00ddb3;
  color: #01ffcf;
  font-weight: 400;
}
#contact .contact_wrap .more a:nth-child(2):hover {
  cursor: pointer;
  background-color: rgba(0, 221, 181, 0.7333333333);
  color: #222;
}
#contact footer {
  width: 100%;
  height: 8rem;
  line-height: 8rem;
}
#contact footer div {
  color: #fff;
  font-family: "Montserrat";
  font-weight: 100;
  text-align: center;
}

/* keyframes */
@keyframes slideSide {
  0% {
    transform: translateX(-3rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideImg {
  100% {
    transform: translateX(-100%);
  }
}
@keyframes transform-up {
  0% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  #contact .contact_wrap .more a:nth-child(1) {
    font-size: 4.5rem;
  }
}
@media (max-width: 480px) {
  #main .main_greeting {
    font-size: 5.5rem;
  }
  #project .project_list a div {
    font-size: 2.8rem;
  }
  #contact .contact_wrap .more {
    padding-top: 10vh;
  }
  #contact .contact_wrap .more a:nth-child(1) {
    font-size: 3rem;
  }
  #contact .contact_wrap .more a:nth-child(1):before {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */