@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
article {
  font-size: 2rem;
  color: #ccc;
  max-width: 1520px;
  width: 90%;
  padding: 0 10px;
  margin: 0 auto;
}

.prj_wrap .sub_title {
  color: #fff;
  margin: 3rem 0;
}
.prj_wrap hr {
  margin-bottom: 2.5rem;
}
.prj_wrap .title {
  font-size: 3rem;
  color: #fff;
  font-family: "Montserrat";
  letter-spacing: 0;
}
.prj_wrap header nav.prj_nav {
  display: flex;
  justify-content: space-between;
  width: 15rem;
}
.prj_wrap header nav.prj_nav ul.pc_ul {
  width: 10rem;
  font-size: 2rem;
}
.prj_wrap header nav.prj_nav ul.pc_ul li:hover i {
  color: #00ddb3;
}
.prj_wrap header nav.prj_nav div.mo_div {
  display: block;
  width: auto;
}
.prj_wrap header nav.prj_nav div.mo_div ul {
  top: 5rem;
  width: -moz-max-content;
  width: max-content;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5490196078);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
}
.prj_wrap header nav.prj_nav div.mo_div ul li {
  width: 100%;
  text-align: right;
  font-size: 2rem;
  font-weight: 400;
  border-bottom: 0.5px solid #ccc;
  padding-bottom: 0.5rem;
}
.prj_wrap header nav.prj_nav div.mo_div ul li:last-child {
  border: none;
  padding-bottom: 0;
}
.prj_wrap header nav.prj_nav div.mo_div ul li i {
  text-shadow: 1px 3px 3px #000;
}
.prj_wrap header nav.prj_nav div.mo_div ul li:hover i {
  color: #00ddb3;
}

section.prj_main {
  opacity: 0;
  padding: 0;
  height: auto;
}
section.prj_main .main_img_view {
  position: relative;
  padding-bottom: 20vh;
}
section.prj_main .main_img_view .img_div {
  width: 100%;
  max-height: 60vh;
  background-color: #000;
  text-align: center;
  overflow: hidden;
}
section.prj_main .main_img_view .img_div img {
  width: auto;
  height: inherit;
}
section.prj_main .main_img_view .title_area {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 20rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem 0;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1882352941);
  background: linear-gradient(to top, rgba(34, 34, 34, 0.2078431373), rgba(54, 71, 91, 0.2509803922), rgba(24, 120, 146, 0.5803921569), rgba(0, 170, 179, 0.6235294118), rgba(0, 221, 181, 0.7137254902));
  font-family: "Montserrat";
  text-shadow: 1px 1px 1px #000;
}
section.prj_main .main_img_view .title_area h2 {
  font-size: 3rem;
}
section.prj_main .main_img_view .title_area a {
  color: #fff;
}
section.prj_main .main_img_view .title_area a:hover {
  color: #00ddb3;
}
section.prj_main .titleArea_anim {
  animation: titleArea_anim 0.8s ease-in-out 0.3s forwards;
}
@keyframes titleArea_anim {
  0% {
    opacity: 0;
    transform: translate(-50%, -10%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
section.prj_main article.intro ul {
  margin-bottom: 1rem;
}
section.prj_main article.intro ul li {
  border: 1px solid rgba(10, 205, 206, 0.25);
  border-radius: 10rem;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: #00ddb3;
}

section.prj_role {
  opacity: 0;
  width: 100%;
  height: auto;
}
section.prj_role .role {
  max-width: 1520px;
  width: 90%;
  padding: 0 10px;
  margin: 0 auto;
  margin-bottom: 5rem;
}
section.prj_role .role textarea {
  width: 100%;
  overflow: hidden;
  resize: none;
  border: none;
  line-height: 3.25rem;
  font-family: "Noto+Sans+KR";
  font-size: 2rem;
  color: #ccc;
  background-color: #222;
  padding: 0;
}
section.prj_role .role textarea:focus {
  outline: none;
}

section.prj_detail {
  height: auto;
  opacity: 0;
}
section.prj_detail .detail {
  max-width: 1520px;
  width: 90%;
  padding: 0 10px;
  margin: 0 auto;
}
section.prj_detail .detail ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
}
section.prj_detail .detail ul li {
  width: 47%;
}
section.prj_detail .detail ul li p {
  margin-bottom: 1rem;
}
section.prj_detail .detail ul li img {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

@media (max-width: 768px) {
  .prj_wrap header nav .pc_ul {
    display: flex;
  }
  section.prj_main .main_img_view .title_area {
    width: 45%;
  }
  section.prj_detail .detail ul li {
    width: 90%;
  }
}
@media (max-width: 480px) {
  section.prj_main .main_img_view .title_area {
    width: 70%;
  }
  section.prj_detail .prj_container .role textarea {
    font-size: 1.6rem;
  }
  section.prj_detail .detail ul li {
    width: 100%;
  }
}/*# sourceMappingURL=project.css.map */