@mixin center($mw, $w, $margin) {
  max-width: $mw;
  // width: 100%;
  width: $w;
  padding: 0 10px;
  margin: $margin auto;
}
@mixin titleSize() {
  font-size: 5.5rem;
  @media (max-width: 480px) {
    font-size: 3rem;
  }
}
@mixin ellipsis($w) {
  display: block;
  width: $w;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@mixin ellipsis2($line, $w, $h) {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  width: $w;
  height: $h;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
@mixin absolute($x, $y) {
  position: absolute;
  left: $x;
  top: $y;
  @if ($x==50% and $y==50%) {
    transform: translate(-50%, -50%);
  } @else if ($y==50%) {
    transform: translateY(-50%);
  } @else if ($x==50%) {
    transform: translateX(-50%);
  }
}
@mixin flexbox($item1: space-between, $item2: center) {
  display: flex;
  justify-content: $item1;
  align-items: $item2;
}
@mixin border($fz, $fw) {
  border: 1px solid rgba(10, 205, 206, 0.25);
  border-radius: 10rem;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  font-size: $fz;
  font-weight: $fw;
  color: $point-color;
}
@mixin btn($fz, $fw) {
  border: 1px solid rgba(10, 205, 206, 0.25);
  border-radius: 10rem;
  background-color: rgba(10, 205, 206, 0.25);
  display: inline-block;
  padding: 0.5rem 1.8rem;
  font-size: $fz;
  font-weight: $fw;
  color: $point-color;
  &:hover {
    cursor: pointer;
    background-color: #00ddb5bb;
    color: #222;
  }
}
@mixin btn01($fz) {
  position: relative;
  display: inline-block;
  font-size: $fz;
  line-height: 5rem;
  font-weight: bold;
  padding: 0 3.5rem;
  border-top: 1px solid #a0a0a0;
  border-bottom: 1px solid #a0a0a0;
  background-color: #fff;
  &:hover:before,
  &:hover:after {
    height: 100%;
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 0;
    background-color: #a0a0a0;
    transition: 0.2s;
  }
  &:before {
    top: 0;
    left: 0;
  }
  &:after {
    bottom: 0;
    right: 0;
  }
}
@mixin dancingText {
  span {
    display: inline-block;
    transition: transform 0.6s cubic-bezier(0.65, 0.02, 0.23, 1);
    transform: translate(20%, 100%);
    position: relative;
    z-index: 1;
    letter-spacing: -0.03em;
    &:before {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateY(-40%);
      transition: transform 0.5s ease-in cubic-bezier(0.65, 0.02, 0.23, 1);
    }
    &.row {
      overflow: hidden;
      line-height: 1;
      display: block;
      transform: none;
      &:before {
        display: none;
      }
    }
  }

  .animate {
    transform: translate(0, 0);
    &:before {
      transform: translateY(100%);
    }
  }
}
@mixin animation($name, $speed, $bezier, $delay) {
  animation: $name $speed $bezier $delay forwards;
}

// 공통 keyframes
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
