@charset "urf-8";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;900&family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
@import "mixin", "var";

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}
html::-webkit-scrollbar-thumb {
}
body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.6rem;
  background-color: #222;
  color: #fff;
  line-height: 1.5;
  letter-spacing: -0.5px;
}
hr {
  border-width: 0.5px;
  margin: 0;
  border-color: #888;
}
section {
  width: 100%;
  height: 100vh;
  background-color: #222;
  padding: 10rem 0;
}
footer {
  width: 100%;
  height: 8rem;
  line-height: 8rem;
  div {
    color: #fff;
    font-family: $en-font;
    font-weight: 100;
    text-align: center;
  }
}

/* common class */
#wrap .m-con {
  display: none;
}
.blind {
  position: absolute;
  left: -9999px;
}
.clear:after {
  content: "";
  display: block;
  clear: both;
}

.animated-section {
  @include animation(fadeOut, 0.7s, ease-in, 0.5s);
}
.animated-section.in-view {
  @include animation(fadeIn, 0.7s, ease-in, 0.5s);
}
.slide-in {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to top,
    #22222235,
    #36475b40,
    #18779240,
    #00aab340,
    #00ddb345
  );
  transform-origin: top;
  animation: scaleY 1s 0s cubic-bezier(0.65, 0.02, 0.23, 1);
}
@keyframes scaleY {
  0% {
    transform: scaleY(1) translateZ(0);
  }
  100% {
    transform: scaleY(0) translateZ(0);
  }
}
/* content */
#wrap {
  max-width: 1920px;
  margin: 0 auto;
  &.no-scroll {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

header {
  background-color: #222;
  .header_wrap {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
    font-family: $en-font;
    @include flexbox(space-between, center);
    h1 {
      font-size: 2.25rem;
      font-weight: 400;
      a {
        color: #fff;
        span {
          &:first-child {
            color: $point-color;
          }
        }
      }
      &:hover {
        a {
          color: $point-color;
          text-shadow: 0px 1px 2px $point-color;

          span {
            &:first-child {
              color: #fff;
            }
          }
        }
      }
    }
  }
  nav {
    width: 45%;
    i {
      color: #fff;
    }
    ul {
      width: 100%;
      @include flexbox(space-between, center);
      li {
        font-weight: 100;
        a {
          color: #fff;
        }
        &:hover {
          a {
            color: $point-color;
            text-shadow: 0px 1px 2px $point-color;
          }
        }
      }
    }

    .mo_div {
      position: relative;
      font-size: 2.25rem;
      button {
        transition: transform 0.3s;
        // i {
        //   transition: transform 0.3s ease;
        // }

        &:hover i {
          transition: transform 0.3s ease;
          transform: rotate(90deg);
        }
      }
      ul {
        display: flex;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease 0s, visibility 0s ease 0.3s;
        position: absolute;
        width: fit-content;
        height: 20rem;
        flex-direction: column;
        align-items: end;
        top: 6rem;
        right: 10%;
        z-index: 1000;
      }
      .visible {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.3s ease 0s, visibility 0s ease 0s;
      }
    }
  }
}

button#topBtn {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease 0s, visibility 0s ease 0.3s;
  position: fixed;
  right: 2.5vw;
  bottom: 2.5vh;
  width: 3rem;
  height: 5rem;
  background-color: #ffffff35;
  border-radius: 10rem;
  i {
    font-size: 2.2rem;
    color: #ccc;
  }
  &:hover i {
    animation: transform-up 0.7s ease-in 0.2s infinite;
    vertical-align: bottom;
  }
}
.fadeIn {
  @include animation(fadeIn, 0.7s, ease-in, 0.5s);
}
.slideSide {
  @include animation(slideSide, 0.7s, ease-in, 0.2s);
}

// keyframes
@keyframes slideSide {
  0% {
    transform: translateX(-3rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes transform-up {
  0% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
  }
}

// media query
@media (max-width: 1150px) {
}
@media (min-width: 768px) {
  html {
    font-size: 59%;
  }
  nav {
    .pc_ul {
      display: flex;
    }
    .mo_div {
      display: none;
    }
  }
}
@media (max-width: 768px) {
  html {
    font-size: 50.5%;
  }
  header {
    nav {
      width: auto;
      .pc_ul {
        display: none;
      }
      .mo_div {
        display: block;
      }
    }
  }
}
@media (max-width: 480px) {
  html {
    font-size: 53.5%;
  }
  header {
    nav {
      .mo_div {
        font-size: 3rem;
        display: block;
      }
    }
  }

  .nav {
    .nav-list {
      flex-direction: column;
      align-items: center;
    }
    .sns {
      margin-top: 30px;
    }
  }
}

@media (max-width: 480px) {
  header nav .mo_div {
    button:hover i {
      transform: rotate(0deg);
    }
    ul {
      height: 15rem;
      li {
        font-size: 2rem;
      }
    }
  }
}
