@charset "utf-8";

@import "mixin", "var";

#wrap {
  max-width: 1920px;
  margin: 0 auto;
  &.no-scroll {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

section {
  width: 100%;
  height: 100vh;
  background-color: #222;
  color: #fff;
  padding: 10rem 0;
}

.title {
  font-family: $en-font;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  @include titleSize;
  padding: 3rem 0 10rem;
}
.slideSide {
  @include animation(slideSide, 0.7s, ease-in, 0.2s);
}

.slide-in {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to top,
    #22222235,
    #36475b40,
    #18779240,
    #00aab340,
    #00ddb345
  );
  transform-origin: top;
  animation: scaleY 1s 0s cubic-bezier(0.65, 0.02, 0.23, 1);
}
@keyframes scaleY {
  0% {
    transform: scaleY(1) translateZ(0);
  }
  100% {
    transform: scaleY(0) translateZ(0);
  }
}

// section - main
#main {
  position: relative;
  .main_greeting {
    position: absolute;
    top: 30%;
    left: 10%;
    font-family: $en-font;
    font-weight: 600;
    font-size: 8rem;
    color: #fff;
    text-transform: uppercase;
    @include dancingText;
  }
  .scrollDown {
    position: absolute;
    left: 50%;
    bottom: 10vh;
    transform: translateX(-50%);
  }
}

// section - about
#about {
  position: relative;
  opacity: 0;
  .about_wrap {
    width: 70%;
    z-index: 1;
    @include absolute(50%, 50%);
    span {
      color: $point-color;
    }
    article {
      font-size: 2rem;
      color: #ccc;
      z-index: 1;
      margin-top: 6rem;
      opacity: 0;
      @include animation(fadeIn, 0.5s, ease-in, 0.5s);
      p {
        margin-bottom: 2rem;
      }
    }
  }
  .slide_view {
    position: absolute;
    z-index: 0;
    bottom: 2rem;
    width: 100%;
    height: 30rem;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    box-shadow: inset 0px 2px 15px #111;
    .slide_img_wrap {
      display: flex;
      flex-wrap: nowrap;
      height: 400px;
      animation: slideImg 25s linear 0s infinite;
      img {
        height: 100%;
        opacity: 0.1;
        filter: grayscale(95%);
      }
    }
  }
}

// section - information
#information {
  opacity: 0;
  height: fit-content;
  .info_wrap {
    @include center($center01, 85%, 0);
    .sub_title {
      @include border(2.8rem, 500);
    }
    .edu {
      text-align: right;
      margin-bottom: 10rem;
      ul {
        font-family: $en-font;
        font-size: 2.8rem;
        margin-top: 5rem;
        li {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
          align-items: center;
          margin-bottom: 5rem;
          background: linear-gradient(to right, #fff 50%, #666 50%);
          background-size: 200% 100%;
          background-clip: text;
          color: transparent;
          background-position-x: 100%;
          transition: background-position-x 0.5s ease;
          strong {
            margin-left: 2rem;
          }
          span {
            font-size: 2rem;
            font-weight: 100;
          }
        }
      }
    }
    .skill {
      ul {
        display: flex;
        margin-top: 3.2rem;
        flex-wrap: wrap;
        gap: 0.8rem;
        li {
          opacity: 0;
          visibility: none;
          transition: opacity 0.5s ease;
          @include border(1.8rem, 500);
        }
      }
      .transform-up {
        visibility: visible;
        opacity: 1;
        animation: transform-up 0.5s linear 0.5s forwards;
      }
    }
  }
}

// section - project
#project {
  opacity: 0;
  width: 100%;
  height: 100%;
  .project_list {
    @include center($center01, 80%, 0);
    a {
      position: relative;
      color: #fff;
      font-size: 4rem;
      font-family: $en-font;
      font-weight: 400;
      height: 15rem;
      @include flexbox(space-between, center);
      div {
        transition: 0.3s ease-in;
      }
      &:hover {
        li {
          opacity: 0;
          transition: 0.3s ease-in;
        }
        li:nth-child(4) {
          opacity: 1;
        }
        div {
          text-indent: 1.5rem;
          transition: 0.3s ease-in;
        }
      }
      ul {
        font-size: 1.6rem;
        font-weight: 100;
        line-height: 3rem;
        text-align: right;
        li {
          transition: 0.3s ease-in;
        }
        li:nth-child(4) {
          opacity: 0;
          height: 90%;
          position: absolute;
          right: 1rem;
          top: 50%;
          transform: translateY(-50%);
          img {
            height: 100%;
          }
        }
      }
    }
  }
}

// section - contact
#contact {
  opacity: 0;
  padding: 6rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .contact_wrap {
    @include center($center01, 80%, 0);
    .title {
      padding: 0 0 6rem;
    }
    article {
      font-size: 2.5rem;
      transition: transform 1s ease-in;
      transform: translateY(40px) translateZ(0px);
      p {
        line-height: 4rem;
        &:last-child {
          font-weight: 100;
          padding: 1.5rem 0;
          font-size: 2rem;
        }
      }
    }
    .transform-none {
      transform: none;
    }
    .more {
      font-family: $en-font;
      a:nth-child(1) {
        font-weight: 500;
        font-size: 5rem;
        color: $point-color;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        transition: 0.5s ease;
        padding-bottom: 2rem;
        @include dancingText;
        span {
          &.row {
            line-height: 2;
          }
        }
        &:hover {
          padding-left: 3rem;
        }
        &:before {
          content: "\f1d8";
          display: inline;
          font-size: 2.5rem;
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          padding-right: 1rem;
        }
      }

      a:nth-child(2) {
        @include btn(3rem, 300);
        color: #01ffcf;
        font-weight: 400;
      }
    }
  }
  footer {
    width: 100%;
    height: 8rem;
    line-height: 8rem;
    div {
      color: #fff;
      font-family: $en-font;
      font-weight: 100;
      text-align: center;
    }
  }
}

/* keyframes */
@keyframes slideSide {
  0% {
    transform: translateX(-3rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideImg {
  100% {
    transform: translateX(-100%);
  }
}

@keyframes transform-up {
  0% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  #contact .contact_wrap .more {
    a:nth-child(1) {
      font-size: 4.5rem;
    }
  }
}

@media (max-width: 480px) {
  #main .main_greeting {
    font-size: 5.5rem;
  }
  #project .project_list a div {
    font-size: 2.8rem;
  }
  #contact .contact_wrap .more {
    padding-top: 10vh;
    a:nth-child(1) {
      font-size: 3rem;
      &:before {
        display: none;
      }
    }
  }
}
