@charset "utf-8";

@import "mixin", "var";

#wrap {
  max-width: 1920px;
  margin: 0 auto;
  &.no-scroll {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

section {
  width: 100%;
  height: 100vh;
  background-color: #222;
  color: #fff;
}

.title {
  font-family: $en-font;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  @include titleSize;
  margin: 8rem 0;
}
.slideSide {
  @include animation(slideSide, 0.7s, ease-in, 0.2s);
}

header {
  background-color: #222;
  .header_wrap {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
    @include flexbox(space-between, center);
    h1 {
      font-size: 2rem;
      font-weight: 400;
      a {
        color: #fff;
      }
      &:hover {
        a {
          color: $point-color;
          text-shadow: 0px 1px 2px $point-color;
        }
      }
    }
  }
  a {
    font-family: $en-font;
  }
  nav {
    width: 45%;
    ul {
      width: 100%;
      @include flexbox(space-between, center);
      li {
        font-weight: 100;
        a {
          color: #fff;
        }
        &:hover {
          a {
            color: $point-color;
            text-shadow: 0px 1px 2px $point-color;
          }
        }
      }
    }
  }
}

// section - main

#main {
  position: relative;
  // opacity: 0;
  .main_greeting {
    position: absolute;
    top: 30%;
    left: 10%;
    font-family: $en-font;
    font-weight: 600;
    font-size: 8rem;
    color: #fff;
    text-transform: uppercase;
    span {
      display: inline-block;
      transition: transform 0.6s cubic-bezier(0.65, 0.02, 0.23, 1);
      transform: translate(20%, 100%);
      position: relative;
      z-index: 1;
      letter-spacing: -0.03em;
      &:before {
        content: "";
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(-40%);
        transition: transform 0.6s cubic-bezier(0.65, 0.02, 0.23, 1);
      }
      &.row {
        overflow: hidden;
        line-height: 1;
        display: block;
        transform: none;
        &:before {
          display: none;
        }
      }
    }

    .animate {
      transform: translate(0, 0);

      &:before {
        transform: translateY(100%);
      }
    }
  }

  .scrollDown {
    position: absolute;
    bottom: 5.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

// section - about
#about {
  position: relative;
  opacity: 0;
  .about_wrap {
    width: 70%;
    z-index: 1;
    @include absolute(50%, 50%);
    span {
      color: $point-color;
    }
    article {
      font-size: 2rem;
      color: #ccc;
      z-index: 1;
      margin-top: 6rem;
      opacity: 0;
      @include animation(fadeIn, 0.5s, ease-in, 0.5s);
      p {
        margin-bottom: 2rem;
      }
    }
  }
  .slide_view {
    position: absolute;
    z-index: 0;
    bottom: 2rem;
    width: 100%;
    height: 30rem;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    box-shadow: inset 0px 2px 15px #111;
    .slide_img_wrap {
      display: flex;
      flex-wrap: nowrap;
      height: 400px;
      animation: slideImg 25s linear 0s infinite;
      img {
        height: 100%;
        opacity: 0.1;
        filter: grayscale(95%);
      }
    }
  }
}

// section - information
#information {
  opacity: 0;
  .info_wrap {
    @include center($center01, 85%, 0);
    ul {
      font-family: $en-font;
      font-size: 2.8rem;
      margin-top: 5rem;
      li {
        text-align: right;
        margin-bottom: 5rem;
        background: linear-gradient(to right, #fff 50%, #666 50%);
        background-size: 200% 100%;
        background-clip: text;
        color: transparent;
        background-position-x: 100%;
        transition: background-position-x 0.5s ease;
        span {
          font-size: 2rem;
          font-weight: 400;
        }
      }
    }
  }
}

// section - project
#project {
  opacity: 0;
  width: 100%;
  height: 100%;
  .project_list {
    @include center($center01, 80%, 0);
    a {
      position: relative;
      color: #fff;
      font-size: 4rem;
      font-family: $en-font;
      font-weight: 400;
      height: 15rem;
      line-height: 15rem;
      @include flexbox(space-between, center);
      div {
        transition: 0.3s ease-in;
      }
      &:hover {
        li {
          opacity: 0;
          transition: 0.3s ease-in;
        }
        li:nth-child(4) {
          opacity: 1;
        }
        div {
          text-indent: 1.5rem;
          transition: 0.3s ease-in;
        }
      }
      ul {
        font-size: 1.6rem;
        font-weight: 100;
        line-height: 3rem;
        text-align: right;
        li {
          transition: 0.3s ease-in;
        }
        li:nth-child(4) {
          opacity: 0;
          height: 90%;
          position: absolute;
          right: 1rem;
          top: 50%;
          transform: translateY(-50%);
          img {
            height: 100%;
          }
        }
      }
    }
  }
}

/* keyframes */
@keyframes slideSide {
  0% {
    // opacity: 0;
    transform: translateX(-3rem);
  }
  100% {
    // opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideImg {
  100% {
    transform: translateX(-100%);
  }
}
