@charset "utf-8";

@import "mixin", "var";

article {
  font-size: 2rem;
  color: #ccc;
  @include center($center01, 90%, 0);
}
.prj_wrap {
  .sub_title {
    color: #fff;
    margin: 3rem 0;
  }
  hr {
    margin-bottom: 2.5rem;
  }
  .title {
    font-size: 3rem;
    color: #fff;
    font-family: $en-font;
    letter-spacing: 0;
  }

  header {
    nav.prj_nav {
      display: flex;
      justify-content: space-between;
      width: 15rem;
      ul.pc_ul {
        width: 10rem;
        font-size: 2rem;
        li {
          &:hover i {
            color: $point-color;
          }
        }
      }
      div.mo_div {
        display: block;
        width: auto;
        ul {
          top: 5rem;
          width: max-content;
          height: auto;
          background-color: #0000008c;
          padding: 0.5rem 1rem;
          border-radius: 0.3rem;
          li {
            width: 100%;
            text-align: right;
            font-size: 2rem;
            font-weight: 400;
            border-bottom: 0.5px solid #ccc;
            padding-bottom: 0.5rem;
            &:last-child {
              border: none;
              padding-bottom: 0;
            }
            i {
              text-shadow: 1px 3px 3px #000;
            }
            &:hover i {
              color: $point-color;
            }
          }
        }
      }
    }
  }
}

section.prj_main {
  opacity: 0;
  padding: 0;
  height: auto;
  .main_img_view {
    position: relative;
    padding-bottom: 20vh;
    .img_div {
      width: 100%;
      max-height: 60vh;
      background-color: #000;
      text-align: center;
      overflow: hidden;
      img {
        width: auto;
        height: inherit;
      }
    }
    .title_area {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 40%;
      height: 20rem;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 1.5rem 0;
      box-shadow: 1px 1px 7px #00000030;
      background: linear-gradient(
        to top,
        #22222235,
        #36475b40,
        #18789294,
        #00aab39f,
        #00ddb5b6
      );
      font-family: $en-font;
      text-shadow: 1px 1px 1px #000;
      h2 {
        font-size: 3rem;
      }
      a {
        color: #fff;
        &:hover {
          color: $point-color;
        }
      }
    }
  }
  .titleArea_anim {
    animation: titleArea_anim 0.8s ease-in-out 0.3s forwards;
  }
  @keyframes titleArea_anim {
    0% {
      opacity: 0;
      transform: translate(-50%, -10%);
    }
    100% {
      opacity: 1;

      transform: translate(-50%, -50%);
    }
  }
  article.intro {
    ul {
      margin-bottom: 1rem;
      li {
        @include border(1.8rem, 500);
      }
    }
  }
}

section.prj_role {
  opacity: 0;
  width: 100%;
  height: auto;

  .role {
    @include center($center01, 90%, 0);
    margin-bottom: 5rem;
    textarea {
      width: 100%;
      overflow: hidden;
      resize: none;
      border: none;
      line-height: 3.25rem;
      font-family: $ko-font;
      font-size: 2rem;
      color: #ccc;
      background-color: #222;
      padding: 0;
      &:focus {
        outline: none;
      }
    }
  }
}

section.prj_detail {
  height: auto;
  opacity: 0;
  .detail {
    @include center($center01, 90%, 0);

    ul {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 3rem;
      li {
        width: 47%;
        p {
          margin-bottom: 1rem;

          a {
            color: #fff;
          }
        }
        img {
          width: 100%;
          height: auto;
        }

        &.m-img {
          img {
            width: auto;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .prj_wrap header nav .pc_ul {
    display: flex;
  }

  section.prj_main .main_img_view .title_area {
    width: 45%;
  }
  section.prj_detail .detail ul li {
    width: 90%;
  }
}
@media (max-width: 480px) {
  section.prj_main .main_img_view .title_area {
    width: 70%;
  }
  section.prj_detail .prj_container .role textarea {
    font-size: 1.6rem;
  }
  section.prj_detail .detail ul li {
    width: 100%;
  }
}
